<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770932425495-1epptsvq0b6fglrt76lkf6dfbvfp00t9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770932425495-1epptsvq0b6fglrt76lkf6dfbvfp00t9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770932425495-dbuvi3efgp0helr24tiiqvk6g7j1ee5i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhx5LGgdzPzzw8FGvBCwPLm3ZmCyDLbQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>770932425495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lakshay.fasslaConsumer</string>
	<key>PROJECT_ID</key>
	<string>faa-f2574</string>
	<key>STORAGE_BUCKET</key>
	<string>faa-f2574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770932425495:ios:ac554ebb33eb2167cf6d52</string>
	<key>DATABASE_URL</key>
	<string>https://faa-f2574-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>